@use "../../styles/tokens/border-radius" as br;
@use "../../styles/typography.scss" as ty;
@use "../../styles/tokens/spacing" as s;
@use "../../styles/tokens/colors" as c;

@use "../../styles/utils/functions" as t;
// доработать
.dropdown {
  position: relative;
  display: inline-block;
}

.trigger {
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 110%;
  height: fit-content;
  padding: 8px;

  background: t.token(c.$color-grayscale, "white");
  border: 1px solid t.token(c.$color-grayscale, "grayscale-5");

  overflow: hidden;
  z-index: 999;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.item {
  @extend .text-small;
  display: flex;
  align-items: center;

  gap: t.token(s.$padding, "padding-s");

  padding: t.token(s.$padding, "padding-sm") t.token(s.$padding, "padding-s");
  cursor: pointer;

  transition: background 0.2s ease;
}

.item:hover {
  background: t.token(c.$color-grayscale, "grayscale-2");
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.icon {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;

  svg {
    width: 100%;
    height: 100%;
  }
}

.main {
  display: flex;
  align-items: center;
  gap: t.token(s.$padding, "padding-r");
}

.content {
  width: 100%;
}

.static {
  cursor: default;

  &:hover {
    background: transparent;
  }
}