$border-radius: (
  xxs: 2px,
  xs: 4px,
  sm: 6px,
  avatar: 50%
); // нужно ли в этих файлах проставить !default? я не уверена, что нужно, так как это файлы для токенов, но может быть стоит добавить для надежности. или файл в base создать
