@use "../../styles/tokens/spacing" as s;
@use "../../styles/tokens/border-radius" as br;
@use "../../styles/tokens/colors" as c;
@use "../../styles/typography.scss";
@use "../../styles/tools/mixins" as m;

@use "../../styles/utils/functions" as t;

.header {
  background: t.token(c.$color-grayscale, "white");
  border-bottom: 1px solid t.token(c.$color-primary, "border");
}

.container {
  display: grid;
  grid-template-columns: 1fr 40% 1fr;
  align-items: center;
  height: 78px;

  padding: t.token(s.$padding, "padding-r") t.token(s.$padding, "padding-m");
}
.logo {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;

  height: 78px;
  width: 70%;

  @extend .text-logo;

  img {
    height: 100%;
    width: auto;
    object-fit: contain;
  }
}

.search {
  width: 100%;
}

.actions {
  grid-column: 3;
  justify-self: end;

  display: flex;
  align-items: center;
  gap: t.token(s.$padding, "padding-m");
}

.login {
  @extend .text-button-semibold;

  padding: t.token(s.$padding, "padding-sm") t.token(s.$padding, "padding-m");
  text-transform: uppercase;
}

.notifications {
  background: none;
  border: none;
  align-self: center;
  color: t.token(c.$color-grayscale, "grayscale-5");
}
